.grid-container{
    display: grid;
    font-family: 'Times New Roman';
    background-color: aquamarine;
    border-radius: 5px;
}
.grid-header{
    grid-row: 1;
    grid-column: 1/7;
    text-align: center;
    background-color: blue;
}
.grid-header h1{
    color: red;
    font-size: larger;
}
.grid-header p{
    color: yellow;
}
.grid-navbar{
    grid-row: 2;
    grid-column: 1/7;
    background-color: red;
}
.grid-navbar a{
    padding: 2em;
    text-decoration: none;
}
.grid-side{
    grid-row: 3;
    grid-column: 6/7;
    background-color: orangered;
    padding: 20px;
    display: grid;
}
.grid-main{
    grid-row: 3;
    grid-column: 1/6;
    background-color: yellow;
    padding: 20px;
    display: grid;
}
.grid-main-item1{
    grid-column: 1;
    text-align: center;
}
.grid-main-item2{
    grid-column: 2/6;
}
.grid-side.grid-item{
    grid-row: 1;
}
.grid-side .side-anh-item1{
    grid-column: 1;
    grid-row: 2;
}
.grid-side .side-item1{
    grid-column: 2;
    grid-row: 2;
}
.grid-side .side-anh-item2{
    grid-column: 1;
    grid-row: 3;
}
.grid-side .side-item2{
    grid-column: 2;
    grid-row: 3;
}
.grid-side .side-anh-item3{
    grid-column: 1;
    grid-row: 4;
}
.grid-side .side-item3{
    grid-column: 2;
    grid-row: 4;
}
.grid-side .side-anh-item4{
    grid-column: 1;
    grid-row: 5;
}
.grid-side .side-item4{
    grid-column: 2;
    grid-row: 5;
}
.grid-side a{
    text-decoration: none;
}
.grid-main button{
    text-decoration: none;
    background-color: red;
}
.grid-footer{
    grid-row: 4;
    grid-column: 1/7;
    background-color: green;
    text-align: center;
}
@media (max-width: 768px) {
    .grid-footer{
        grid-row: 1;
    }
    .grid-navbar{
        grid-row: 2;
        display: grid;
        text-align: center;
    }
    .grid-main{
        grid-row: 3;
        grid-column: 2/2;
    }
    .grid-side{
        grid-row: 4;
        grid-column: 2/2;
    }
    .grid-footer{
        grid-row: 5;
    }
    .grid-navbar .navbar-item1{
        grid-row: 1;
    }
    .grid-navbar .navbar-item2{
        grid-row: 2;
    }
    .grid-navbar .navbar-item3{
        grid-row: 3;
    }
    .grid-navbar .navbar-item4{
        grid-row: 4;
    }
}
@media (min-width: 1668px) {
    .grid-main{
        grid-column: 1/4;
    }
    .grid-side{
        grid-column: 4/7;
        text-align: center;
    }
    .grid-side .grid-item{
        grid-row: 1;
    }
    .grid-side .side-anh-item1{
        grid-row: 2;
        grid-column: 1;
    }
    .grid-side .side-item1{
        grid-row: 3;
        grid-column: 1;
    }
    .grid-side .side-anh-item2{
        grid-row: 2;
        grid-column: 2;
    }
    .grid-side .side-item2{
        grid-row: 3;
        grid-column: 2;
    }
    .grid-side .side-anh-item3{
        grid-row: 2;
        grid-column: 3;
    }
    .grid-side .side-item3{
        grid-row: 3;
        grid-column: 3;
    }
    .grid-side .side-anh-item4{
        grid-row: 2;
        grid-column: 4;
    }
    .grid-side .side-item4{
        grid-row: 3;
        grid-column: 4;
    }
}